body{
    font-family: 'Nunito', Arial, sans-serif;
    font-size: 18px;
    margin:0;
}
  
.bgwhite{
    background-color:  white;
    display: flex;
    justify-content: space-between;
}

div.logo{
    padding-left: 30px;
    padding-top: 5px;
}

div.navbar{
    padding: 10px 10px;
}

div.navbar > a{
    margin: 10px;
    text-decoration: none;
    color: grey;
}

@media(max-width:500px) {
    .bgwhite {
        background-color: white;
        display: flex;
        justify-content: space-between;
    }

    div.logo {
        padding-left: 10px;
        padding-top: 10px;
    }

    .logo img {
        width: 80px;
    }

    div.navbar {
        padding: 10px 0px;
        font-size: 15px;
    }

    div.navbar>a {
        margin: 10px;
        text-decoration: none;
        color: grey;
    }

}

.banner{
    background-image: url(imgs/banner.jpg);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 30em;
}

div > h1{
    color: white;
    font-size: 55px;
    margin: 0;
}

div > p{
    color: white;
   
}

.banner > .container{
    display: flex;   
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    margin-bottom: 0;
}

div.btn button{
    background-color: rgb(237, 108, 104);
    color: white;
    padding: 20px 40px;
    border: 1px solid red;
    cursor: pointer;
    width:300px;
    font-family: 'Nunito', Arial, sans-serif;
    font-size: 20px;
    box-shadow: 1px 3px red;
    border-radius: 5px;
    border:rgb(237, 108, 104);
}

div.btn button:hover{
    background-color: rgb(184, 38, 57);
}

@media(max-width:500px) {
    div>h1 {
        color: white;
        font-size: 30px;
        margin: 0;
    }

    div>p {
        color: white;
        font-size: 15px;
        text-align: center;

    }

    .banner>.container {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        margin-bottom: 0;
    }

    div.btn button {
        background-color: rgb(237, 108, 104);
        color: white;
        padding: 5px 10px;
        border: 1px solid red;
        cursor: pointer;
        width: 200px;
        font-family: 'Nunito', Arial, sans-serif;
        font-size: 13px;
        box-shadow: 1px 3px red;
        border-radius: 5px;
        border: rgb(237, 108, 104);
    }

    div.btn button:hover {
        background-color: rgb(184, 38, 57);
    }
}

.header2{
    background-color: rgb(216, 216, 216);
    height: 400px;
    padding-top:10px;
}

/*start here*/
div.title{
    background-color: rgb(231, 245, 237);
    padding:0px 206px;
    margin-top: 30px;
}

.flex{
    display:flex;
    justify-content: space-around;
}

/*end here*/



div.box{
    background-color: white;
    margin-top:50px;
}
div.box:first-child{
    background-image: url(imgs/heart\ icon.png);
    background-position: 0;
    background-repeat: no-repeat;
    margin-right: 10px;
    padding-right: 38px;
    padding-left: 57px;
    margin-left: 31px;
    margin-right: 61px;
    margin-top: 0;
    
}

div.box:last-child{
    background-image: url(imgs/chat\ icon.png);
    background-position: 0px;
    background-repeat: no-repeat; 
    padding-left: 70px;
    padding-right: 161px;
    width:460x;
    margin-top:0;
    
}

div.box p{
    width:450px;
    padding-bottom: 30px;
    color:black;
    margin-top:30px;
    padding-top: 10px;
    padding-right:0px; 
   
}

div.align{
    display: flex;
    justify-content: space-between;
}
div.align:last-child{
    padding-right: 230px;
}

@media(max-width:500px) {
    .header2 {
        background-color: rgb(216, 216, 216);
        height: 200px;
        padding-top: 10px;
    }

    div.title {
        background-color: rgb(231, 245, 237);
        padding-left:0;
        padding-right:0;
        margin-top: 30px;
        font-size: 7px
    }

    div.title>div.love {
        padding-right: 72px;
        padding-left: 0px;
    }

    div.title>div.complain {
        padding-left:11px;
    }

 

    .flex {
        display: flex;
        justify-content: space-around;
    }


    div.box {
        background-color: white;
        margin-top: 50px;
        font-size: 20px;
    }

    div.box:first-child {
        background-image: url(imgs/heart\ icon.png);
        background-size: 30px;
        background-position: 0;
        background-repeat: no-repeat;
        margin-right: 10px;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 14px;
        margin-right: 20px;
        margin-top: 0;

    }

    div.box:last-child {
        background-image: url(imgs/chat\ icon.png);
        background-size: 30px;
        background-position: 1px;
        background-repeat: no-repeat;
        padding-left: 10px;
        padding-right: 108px;
        width: 460x;
        margin-top: 0;
    }

    div.box p {
        width: 100px;
        height: 60px;
        padding-bottom: 0px;
        color: black;
        margin-top: 10px;
        padding-top: 10px;
        padding-right: 0px;
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 7px;
        text-align: inherit;
    }

}




div.recolor{
    padding-left:380px;
    padding-top: 70px;
}
div.recolor h1{
    color: black; 
  /*  font-family: 'Anton', sans-serif;*/
    position:center;
}
div.explore{
    padding-left: 480px;
}
div.explore h3{
   /* font-family: 'Anton', sans-serif;*/
    color: black;
}


.three__box{
    display:flex;
}

div.one img{
    width: 400px;
    padding-left:0px;
    
}

div.two img{
    width: 400px;
    justify-content: center;
      
}



div.three__box img{
    width: 400px;
    margin-right: 0px; 
   
    
}

div.boxcontent{
    background-color: rgb(167, 164, 164);
    margin:30px;
    padding-bottom: 30px;
    padding-left:0px;
    padding-right:0px;
}
/*
div.boxcontent h5{
    padding-left:60px;
   
}
*/

div.boxcontent > div.hip h5{

    padding-left:15px;
   
}

div.boxcontent > div.cake h5{

    padding-left:33px;
   
}

div.boxcontent > div.coffee h5{

    padding-left:70px;
   
}





div.fitzroy div{
    margin-left:120px;
    justify-content: center;
    position: absolute;
    color: black;
    padding-top:120px;
    

}

div.kilda div{
    margin-left:120px;
    justify-content: center;
    position: absolute;
    color:black;
    padding-top:120px;
   
}
div.central div{
    margin-left:120px;
    margin-right:40px;
    justify-content: center;
    position: absolute;
    color:black;
    padding-top:120px;
    
}

.buttonbelow{
    margin-left:550px;
    margin-bottom: 50px;
    margin-top:50px;
}

div.buttonbelow button{
    background-color: rgb(237, 108, 104);
    color: white;
    padding: 80px 80px;
    cursor: pointer;
    width:300px;
    font-family: 'Nunito', Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
    box-shadow: 1px 3px red;
    border-radius: 5px;
    border:rgb(237, 108, 104);
}

.buttonbelow button:hover{
    background-color: rgb(184, 38, 57);
}

.footer{
    background-color: black;
    color:white;
}

div.footerposition{
    height:120px;
    padding-top:60px;
    padding-right:30px;
    padding-bottom:10px;
}

div.footerposition p{
    text-align: center;
}